extends partials/login-layout.pug

block content 
    .logincontainer 
        h1 Register 
        form#registerform(method="POST", onsubmit="event.preventDefault(); validateform();")
             
            input(type="text",name="firstName",placeholder="First name",required="")
            input(type="text",name="lastName",placeholder="Last name",required="")
            input(type="text",name="userName",placeholder="Username",required="")
            input(type="email",name="email",placeholder="Email",required="")
            input#password(type="password",name="password",placeholder="Password",required="")
            input#passwordconf(type="password",name="passwordconf",placeholder="confirm Password",required="")
            input(type="submit",value='Register')

            
        a(href='/login') Already have an account? login here 
    
    script.
        let passwordfeild=document.getElementById("password");
        let passwordconfirmfeild=document.getElementById("passwordconf");

        let form=document.getElementById("registerform");

        function validateform(){
            if(passwordfeild.value != passwordconfirmfeild.value){
                alert("password do not match do try again");
            }
            else{
                form.submit();
            }
        }

        