mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="user's profile pic")
        .textAreaContainer
            textarea#postTextArea(placeholder="what's happening?")
            .buttonContainer
                button#submitPostButton(disabled ="") Post 